@import '../../vars';

.wrapper {
  background-color: $white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: $darkGrey;
  max-height: 252px;
}

.title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;

  padding: 20px 20px 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  padding-left: 20px;

  &:hover {
    background-color: $lightBlue;
    cursor: pointer;
  }
}

.input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
